<div :class="[$style.latest_podcasts,
		{[$style.sidebar] : this.display === 'sidebar'},
		{[$style.full] : this.display === 'full'},
	]">
	<div :class="$style.content">
		<!--<h3 v-if="this.type === 'podcast'">Meer podcasts</h3>-->
		<!--<h3 v-if="this.type === 'blog'">Meer blogs</h3>-->
		<h3>Meer making of media</h3>
		<div v-if="contentList.length > 0" v-for="item in contentList" :class="$style.content_overview">
			<ContentItem v-if="item.id != ignore_id" :item="item" :display="display"></ContentItem>
		</div>
	</div>
</div>
